# Health Stats Part 1: Waist 2 Hip Ratios

<!--- Write an explanation of the Waist To Hips Ratio statistic used by health professionals. Please include an explanation of what it is used for, exactly how it is calculated, and how to interpret the results. Note: Formmatting matters. Make this as professional as you can using Markdown.  --->

<!--- feel free to use any web resources, including [Wikipedia](https://en.wikipedia.org/wiki/Waist%E2%80%93hip_ratio) or any other resources that you can find online. Just MAKE SURE you provide a link to every resource you decide to use. --->

<!--- Including the formula, or that fancy diagram/table you see on wikipedia is DEFINITELY a good idea! How? The LaTeX equations section in [This link](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html) might help. --->

<!--- For extra points, try to create a table similar to the one on the wikipedia page on your own. --->

__EDIT THIS MARKDOWN CELL__

## Source Data

<!--- Replace the text below with a Markdown bullet list that defines the columns of the CSV file. Be sure to indicate the data type for each column. --->

<!--- Example can be: ID, unique identifier of each person, integer. Remember you need to put this into a bullet list! How? [This link](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html) might help. --->

<!--- These two markdown cells are required in almost any analytical report. --->

__EDIT THIS MARKDOWN CELL__

W2H Ratio
- point1
- point2

<img src = 'https://upload.wikimedia.org/wikipedia/commons/3/34/Abdominal_obesity_in_men.jpg' />

| header1 | header2 |
| ------- | ------- |
| cell1 | cell 2 |

$ ratio_{w2h} = \frac{w}{h} $

## Data Import

In [1]:
# Goal: Extract the data from the file

# opens the w2h_data.csv for reading
f = open("w2h_data.csv", "r")

# loads the file into a list of strings, one string per line
raw_lines = list(f)

# closes the file
f.close()

In [22]:
# Goal: Extract the data from the file

# opens the w2h_data.csv for reading
f = open("w2h_data.csv", "r")

# loads the file into a list of strings, one string per line
raw_lines = list(f)

# closes the file
f.close()

# Goal: Scrub and convert the data, loading it into a new list called rows

# Strips out newline '\n' characters and converts to a list
raw_rows = [r.rstrip('\n').split(',') for r in raw_lines] # <--- Whoa. Why does this work? 

# Creates a new list, starting with just the column names
rows = list() 

# The first row is the keys wit the column names
keys = raw_rows[0];

# Convert each row_row, starting with the second
for raw_row in raw_rows[0:]:
    row_dict = {}
    # Note: the values in the raw_row list are all strings.
    # Create a new list called row that converts each item in raw_row to the right data type  
    row = [str(raw_row[0]),str(raw_row[1]),str(raw_row[2]),(raw_row[3])] # FIX THIS; you'll need to use conversion functions
    
    # structure the row as a dict  <-- FIX THIS: Write your code below
    for i in range(len(keys))[1:]:
#        print(i)
        row_dict[keys[i]] = row[i-1]
    
    # Append the new row to the rows list as a dictionary <-- FIX THIS: Write your code below
    rows.append(row_dict)
    
    
# from here on out use the rows list instead of raw_rows or raw_lines
print(rows)

[{'Waist': 'ID', 'Hip': 'Waist', 'Gender': 'Hip'}, {'Waist': '1', 'Hip': '30', 'Gender': '32'}, {'Waist': '2', 'Hip': '32', 'Gender': '37'}, {'Waist': '3', 'Hip': '30', 'Gender': '36'}, {'Waist': '4', 'Hip': '33', 'Gender': '39'}, {'Waist': '5', 'Hip': '29', 'Gender': '33'}, {'Waist': '6', 'Hip': '32', 'Gender': '38'}, {'Waist': '7', 'Hip': '33', 'Gender': '42'}, {'Waist': '8', 'Hip': '30', 'Gender': '40'}, {'Waist': '9', 'Hip': '30', 'Gender': '37'}, {'Waist': '10', 'Hip': '32', 'Gender': '39'}, {'Waist': '11', 'Hip': '24', 'Gender': '35'}, {'Waist': '12', 'Hip': '25', 'Gender': '37'}, {'Waist': '13', 'Hip': '24', 'Gender': '37'}, {'Waist': '14', 'Hip': '22', 'Gender': '34'}, {'Waist': '15', 'Hip': '26', 'Gender': '38'}, {'Waist': '16', 'Hip': '26', 'Gender': '37'}, {'Waist': '17', 'Hip': '25', 'Gender': '38'}, {'Waist': '18', 'Hip': '26', 'Gender': '37'}, {'Waist': '19', 'Hip': '28', 'Gender': '40'}, {'Waist': '20', 'Hip': '23', 'Gender': '35'}]

## Calculations

In [21]:
# Goal: For each row of data calculate and store the w2h_ratio and shape.

# Adds columns for the two new variables
#rows[0].extend(["W2H Ratio","Shape"])

# For each row in the rows list, calculate the waist to hips ratio and shape
for row in rows:
    # Calculate the w2h_ratio 
    w2h_ratio = float(row["Waist"])/float(row["Hip"]) # CHECK THIS; compare whether you did this in part 1
    
    # Based on the ratio and the gender, set the variable shape to either 'apple' or 'pear'
    #shape = 'Pear' # CHECK THIS; compare whether you did this in part 1
    if ((row["Gender\r"]=='M' and w2h_ratio > 0.9) or (row["Gender\r"] == 'F' and w2h_ratio > 0.8)) :
        shape = "Apple"
    else:
        shape = "Pear"
    
    # Add the new data to the end of the row
    row["W2H Ratio"] = w2h_ratio
    row["Shape"] = shape
#row += [w2h_ratio, shape] # note: += is shorthand for the extend method used above

ValueError: could not convert string to float: 'ID'

## Output

In [23]:
# Goal: pretty print the rows as an HTML table

import pandas as pd

# Note: this works, but we can do this much better with pandas
#html_table = '<table><tr><th>'
#html_table += "</th><th>".join(rows[0].keys())
#html_table += '</th></tr>'
#for row in rows:
#    html_table += "<tr><td>"
#    html_table += "</td><td>".join(str(v) for v in row.values())
#    html_table += "</td></tr>"
#html_table += "</table>"

#from IPython.display import HTML, display
#display(HTML(html_table))

df = pd.DataFrame([rows[0]])

for row in rows[1:]:
    df = df.append([row])
df.to_html("RatioResults.html")

In [24]:
rows[0].values()

dict_values(['ID', 'Waist', 'Hip'])

In [25]:
df

  Waist    Hip Gender
0    ID  Waist    Hip
0     1     30     32
0     2     32     37
0     3     30     36
0     4     33     39
0     5     29     33
0     6     32     38
0     7     33     42
0     8     30     40
0     9     30     37
0    10     32     39
0    11     24     35
0    12     25     37
0    13     24     37
0    14     22     34
0    15     26     38
0    16     26     37
0    17     25     38
0    18     26     37
0    19     28     40
0    20     23     35

In [26]:
pd.DataFrame([rows[0]])

  Waist    Hip Gender
0    ID  Waist    Hip